.form{
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 5%;
    display: inline-table;
    text-align: center;
}

.form-head{
    padding-block: 5%;
    background:linear-gradient(yellow,orange);
    color: white;
    font-weight: 900;
    height: 100;
    margin-block-end: 7%;
}

.form-imput{
    background-color: black;
    text-align: center;
    width: 90%;
    font-weight: 900;
    border-radius: 6%;
    color: white;
}

.form-img{
    padding: 5%;
}

.form-btn{
    justify-content: center;
    background:linear-gradient(yellow,orange);
    color: white;
    border-radius: 10%;
    width: 30%;
    margin-block-end: 5%;
}

#logo{
    width: 40%;
    height: 10%;
}

.navbar{
    background-color: black;
    display: grid;
    color: aliceblue;
    justify-content: center;
}

.navbar-brand{
    color: aliceblue;
    font-weight: bold; 
}

.btn{
    margin-left: 280px;
    background:linear-gradient(yellow,orange);
}

.modulo{

    padding-right: 2%;
    margin-right: 2%;
    display: inline-table;
    text-align: center;
    width: 20%;
}

.modulo-img{
    width: 110%;
    height: 10%;
    margin-block-end: 5%;
}

.modulo_text{
    text-align: center;
    font-weight: 900;
    color: black;
}

#bordeo{
    border: solid;
    border-color: black;
    border-width: 2px;
}

#bordeo2{
    border-color: black;
    border-width: 2px;
    border-block-end: solid 2px black;
}

#icon{
    color: red;
}

#iconwhat{
    color: lime;
}